* {
    box-sizing: border-box;
    margin: 0
}

body {
    background-color: #74c461;
}

.app {
    position: absolute;
}

.canvas {
    margin-top: 100px;
    position: relative;
    left: 30%;
}


.select {
    display: none;
    position: absolute;
    height: 30px;
    width: 150px;
    top: 55%;
    left: 42%
}